{% extends"layouts/master.html" %}
{% block crump1 %}SUBJECT{% endblock %}
{% block crump2 %}Subject{% endblock %}
{% block content %}



<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Add New Subject</h3>
        </div>
      </div>
      <div class="card-body">
        <form id="addForm">
          <div class="card-body">
            <div class="form-group">
              <label for="departmentAcronym">Subject Name</label>
              <input type="text" name="subject_name" id="subject_name" class="form-control" required>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label >Subj Code</label>
                <input type="text" name="subject_code" id="subject_code" class="form-control" required>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label >Lec. Unit</label>
                <input type="number" name="lec_unit" id="lec_unit" class="form-control" required>

              </div>
              <div class="form-group col-sm-6">
                <label >Lab. Unit</label>
                <input type="number" name="lab_unit" id="lab_unit" class="form-control" required>
              </div>
            </div>


            <div class="form-group">
              <label for="mod">Pre-requisite</label>   
              <textarea class="form-control" id="pre" name="pre" style="resize: none; height: 10em;" placeholder="No function yet"></textarea>                    
            </div> 

          </div>
          <!-- /.card-body -->
          <button type="submit" class="btn btn-primary float-right" id="save-button">Submit</button>
        </form>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-6 -->
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Subject List</h3>
        </div>
      </div>
      <div class="card-body" style=" width:auto; overflow-y: auto; height: 500px;">
        <table id="excel_table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Subject Name</th>
              <th>Subject code</th>
              <th>Unit</th>
              <th>Pre-requisite</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="load-table">
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-6 -->
</div>
<!-- /.row -->
<!-- Modal -->
<div class="modal fade" id="modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">EDIT SUBJECT</h4>
      </div>
      <div class="modal-body">
        <form action="" id="edit-form">
          <input type="text" name="sid" id="edit-id" hidden="">
         <div class="form-group">
          <label for="departmentAcronym">Subject Name</label>
          <input type="text" name="subject_name" id="e_subject_name" class="form-control" required>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label >Subj Code</label>
            <input type="text" name="subject_code" id="e_subject_code" class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label >Lec. Unit</label>
            <input type="number" name="lec_unit" id="e_lec_unit" class="form-control" required>

          </div>
          <div class="form-group col-sm-6">
            <label >Lab. Unit</label>
            <input type="number" name="lab_unit" id="e_lab_unit" class="form-control" required>
          </div>
        </div>



        <div class="form-group">
          <label for="mod">Pre-requisite</label>   
          <textarea class="form-control" id="e_pre" name="pre" style="resize: none; height: 10em;" placeholder="No function yet"></textarea>                    
        </div> 

      </form>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" id="edit-submit">Save changes</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
{% block script %}

<script type="text/javascript">
  get_subj();
// ajax data---------------------------------------------
function get_subj(){
  $.ajax({
    url: "{{ url_for('subjects.subj_show')}}",
    type:"get",
    success: function(data){    
      $('#load-table').empty().append(data);
    }    
  });
}

        // update data---------------------------------------------
        $(document).on("click","#edit", function(e){

          $('#modal-sm').modal('toggle');
          var id = $(this).data("id");
          var subject_name = $(this).data("sname");
          var subject_code = $(this).data("scode");
          var lec_unit = $(this).data("lac");
          var lab_unit = $(this).data("lab");
          var pre = $(this).data("pre");
          $('#edit-id').val(id);
          $('#e_subject_name').val(subject_name);
          $('#e_subject_code').val(subject_code);
          $('#e_lec_unit').val(lec_unit);
          $('#e_lab_unit').val(lab_unit);
          $('#e_pre').val(pre);
        });
  

       $(document).on("click","#edit-submit", function(e){
          e.preventDefault();
          var id =  $('#edit-id').val();
          var subject_name = $('#e_subject_name').val();
          var subject_code = $('#e_subject_code').val();
          var lec_unit = $('#e_lec_unit').val();
          var lab_unit = $('#e_lab_unit').val();
          var pre = $('#e_pre').val();
          if (subject_name =="" || subject_code =="" || lec_unit =="" || lab_unit =="") {
            switalert('warning', 'All fields are required !');
          }else {
            $.ajax({
              url :"{{ url_for('subjects.subj_update')}}",
              type :"POST",
              data : JSON.stringify({
               id : id,
               subject_name : subject_name, 
               subject_code : subject_code, 
               lec_unit : lec_unit, 
               lab_unit : lab_unit, 
               pre : pre
             }),
              dataType :"json",
              contentType :"application/json; charset=utf-8",
              success : function(data){
                if (data == 1) {
                  $('#modal-sm').modal('hide');
                  get_subj();
                  stoast('Data has been Updated  !', 'info');
                }else{
                  switalert('error',"Can't Save Record.");
                }
              }
            });
          }
        });


  // delete data---------------------------------------------
        $(document).on("click","#delete", function(e){
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.isConfirmed) {
              var course_id = $(this).data("id");
              $.ajax({
                url : "{{ url_for('subjects.subj_destroy')}}",
                type : "POST",
                data : JSON.stringify({id : course_id}),
                dataType : "json",
                contentType : "application/json; charset=utf-8",
                success : function(data){
                  if (data == 1){
                    Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                    )
                    get_subj();
                  }else{
                    switalert('error', "Can't Delete Record.");
                  }
                }
              });
            }
          })
        });



// Store course---------------------------------------------
    $('#save-button').on("click",function(e){
      e.preventDefault();

      var subject_name = $('#subject_name').val();
      var subject_code = $('#subject_code').val();
      var lec_unit = $('#lec_unit').val();
      var lab_unit = $('#lab_unit').val();
      var pre = $('#pre').val();




      if ( subject_name =="" || subject_code =="" || lec_unit =="" || lab_unit =="") {
        switalert('warning', 'All fields are required !');
      }
      else{
        $.ajax({
          url :"{{ url_for('subjects.subj_store')}}",
          type :"POST",
          data : JSON.stringify({
           subject_name : subject_name, 
           subject_code : subject_code, 
           lec_unit : lec_unit, 
           lab_unit : lab_unit, 
           pre : pre
         }),

          dataType :"json",
          contentType :"application/json; charset=utf-8",
          success : function(data){
            if (data == 1) {
              $('#addForm').trigger("reset");
              get_subj();
              stoast('Data has been Saved  !', 'success');
            }else{
              switalert('error',"Can't Save Record.");
            }
          }
        });
      }
    });


</script>





{% endblock %}