{% extends "layouts/master.html" %}
{% block crump1 %}DEPARTMENT{% endblock %}
{% block crump2 %}Department{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Add New Department</h3>
        </div>
      </div>
      <div class="card-body">
        <form id="addForm">
          <div class="card-body">
            <div class="form-group">
              <label for="departmentName">Department Name</label>
              <input type="text" name="department_name" id="dept_name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="departmentAcronym">Acronym</label>
              <input type="text" name="department_acronym" id="dept_acr" class="form-control" required>
            </div>
          </div>
          <!-- /.card-body -->
          <button type="submit" class="btn btn-primary float-right" id="save-button">Submit</button>
        </form>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-6 -->
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Department List</h3>
        </div>
      </div>
      <div class="card-body">
        <table id="department_table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Deapartment</th>
              <th>Acroname</th>
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody id="load-table">
            
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-6 -->
</div>
<!-- /.row -->
<!-- Modal -->
<div class="modal fade" id="modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">EDIT DEPARTMENT</h4>
      </div>
      <div class="modal-body">
        <form action="" id="edit-form">
          <div class="form-group">
            <label for="exampleInputEmail1">Department Name</label>
            <input type="text" name="department_name" id="edit_dept_name" class="form-control" required>
            <input type="text" name="sid" id="edit-id" hidden="">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Acronym</label>
            <input type="text" name="department_acronym" id="edit_dept_acr" class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit-submit">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
{% block script %}
<script>
  $(function () {
    $("#department_table").DataTable({
      "responsive": true, 
      "lengthChange": false, 
      "autoWidth": false,
      "paging": true,
      "searching": true,
      "ordering": false,
      "info": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).container().appendTo('#department_table_wrapper .col-md-6:eq(0)');
  });
</script>


<script type="text/javascript">

  
    
    // load data---------------------------------------------
    function load_department(){
      $("#load-table").html('');
      var count = 0
      $.ajax({
        url : "{{ url_for('departments.load_department')}}",
        type : "GET",
        success : function(data){
          $.each(data, function(key, value){ 
            var inc = ++count
            
            $("#load-table").append(
            '<tr>'+  
              '<td>'+ inc+'</td>'+
              '<td>'+ value[1] +'</td>'+
              '<td>'+ value[2] +'</td>'+
              '<td>'+
                '<div class="btn-group">'+'<a href="#" type="button" class="btn btn-outline-info btn-block btn-xs" id = "edit" data-id="'+value[0]+'" data-name="'+value[1]+'" data-acro="'+value[2]+'"><i class="fa fa-pencil"></i> Edit</a>'+'</div>'+
                {% if account[2] == 1 %} 
                '<div class="btn-group">'+'<a href="#" type="button" class="btn btn-outline-danger btn-block btn-xs" id = "delete" data-id="'+value[0]+'" ><i class="fa fa-trash"></i> Edit</a>'+'</div>'+
                {% endif %}
                '</td>'+
                '</tr>'
                );
              });
            }
          });
        }
       
        // insert data---------------------------------------------
        $('#save-button').on("click",function(e){
          e.preventDefault();
          var dept_name = $('#dept_name').val();
          var dept_acr = $('#dept_acr').val();
          if ( dept_name == "" || dept_acr == "") {
            switalert('warning', 'All fields are required !');
          }
          else{
            $.ajax({
              url : "{{ url_for('departments.add_department')}}",
              type : "POST",
              data : JSON.stringify({department_name : dept_name, acronym : dept_acr}),
              dataType : "json",
              contentType : "application/json; charset=utf-8",
              success : function(data){
                if (data == 1) {
                  load_department();
                  $('#addForm').trigger("reset");
                  stoast('Data has been Saved  !', 'success');
                }else{
                  switalert('error', "Can't Save Record.");
                }
              }
            });
          }
        });

        // delete data---------------------------------------------
        $(document).on("click","#delete", function(e){
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.isConfirmed) {
              var department_id = $(this).data("id");
              $.ajax({
                url : "{{ url_for('departments.del_department')}}",
                type : "POST",
                data : JSON.stringify({id : department_id}),
                dataType : "json",
                contentType : "application/json; charset=utf-8",
                success : function(data){
                  if (data == 1){
                    load_department();
                    Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                    )
                  }else{
                    switalert('error', "Can't Delete Record.");
                  }
                }
              });
            }
          })
        });


        // update data---------------------------------------------
        $(document).on("click","#edit", function(e){
          $('#modal-sm').modal('toggle');
          var id = $(this).data("id");
          var name = $(this).data("name");
          var acro = $(this).data("acro");
          $('#edit-id').val(id);
          $('#edit_dept_name').val(name);
          $('#edit_dept_acr').val(acro);
        });
        
        //Update Record------------------------------------------
        $(document).on("click", "#edit-submit", function(e){
          e.preventDefault();
          var id =  $('#edit-id').val();
          var name = $('#edit_dept_name').val();
          var acro = $('#edit_dept_acr').val();
          if (name == "" || acro == "") {
            switalert('warning', 'All fields are required !');
          }else {
            $.ajax({
              url : "{{ url_for('departments.upd_department')}}",
              type : "POST",
              data : JSON.stringify({id : id, department_name : name, acronym : acro}),
              dataType : "json",
              contentType : "application/json; charset=utf-8",
              success : function(data){
                if (data == 1) {
                  load_department();
                  $('#modal-sm').modal('hide');
                  stoast('Data has been Updated  !', 'info');
                }else{
                  switalert('error', "Can't Save Record.");
                }
              }
            });
          }
        });

  $(document).ready(function(){
    load_department();
      });
    </script>

{% endblock %}