{% extends "layouts/master.html" %}
{% block crump1 %}DEPARTMENT{% endblock %}
{% block crump2 %}Department{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Add New Department</h3>
        </div>
      </div>
      <div class="card-body">
        <form id="addForm">
          <div class="card-body">
            <div class="form-group">
              <label for="departmentName">Department Name</label>
              <input type="text" name="department_name" id="dept_name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="departmentAcronym">Acronym</label>
              <input type="text" name="department_acronym" id="dept_acr" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="depthead">Department Head</label>
              <input type="text" name="depthead" id="depthead" class="form-control" required>
            </div>
          </div>
          <!-- /.card-body -->
          <button type="submit" class="btn btn-primary float-right" id="save-button">Submit</button>
        </form>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-6 -->
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h3 class="card-title">Department List</h3>
        </div>
      </div>
      <div class="card-body">
        <table id="excel_table" class="table table-bordered table-striped ">
          <thead>
            <tr>
              <th>#</th>
              <th>Department</th>
              <th>Acroname</th>
              <th>Head / Deen</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="load-table">
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-6 -->
</div>
<!-- /.row -->
<!-- Modal -->
<div class="modal fade" id="modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">EDIT DEPARTMENT</h4>
      </div>
      <div class="modal-body">
        <form action="" id="edit-form">
          <div class="form-group">
            <label for="exampleInputEmail1">Department Name</label>
            <input type="text" name="department_name" id="edit_dept_name" class="form-control" required>
            <input type="text" name="sid" id="edit-id" hidden="" value="">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Acronym</label>
            <input type="text" name="department_acronym" id="edit_dept_acr" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="depthead">Department Head</label>
            <input type="text" name="depthead" id="edit_depthead" class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit-submit">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="update_progra">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Program</h4>
      </div>
      <div class="modal-body">
        <form action="" id="edit-form">
          <div class="form-group">
            <input type="text" name="sid" id="edit-id2" hidden="" value="">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Program Offer:</label>
            <input type="text" id="edit_program" class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit_prg-submit">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade"  id="editAccessModal">
  <div class="modal-dialog modal-lg">
    <form action="">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Course List</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div class="row" id="ajax_payslip">
         </div>
       </div>
       <div class="modal-footer justify-content-between">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="updatecors" >Confirm</button>
      </div>
    </div>
  </form>
</div>
<!-- /.modal-content -->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  get_dept();
// ajax data---------------------------------------------
function get_dept(){
  $.ajax({
    url: "{{ url_for('departments.dept_show')}}",
    type:"get",
    success: function(data){     
      $('#load-table').empty().append(data);
    }    
  });
}
        // insert data---------------------------------------------
        $('#save-button').on("click",function(e){
          e.preventDefault();
          var dept_name = $('#dept_name').val();
          var dept_acr = $('#dept_acr').val();
          var depthead = $('#depthead').val();
          if ( dept_name == "" || dept_acr == ""  || depthead == "") {
            switalert('warning', 'All fields are required !');
          }
          else{
            $.ajax({
              url : "{{ url_for('departments.dept_store')}}",
              type : "POST",
              data : JSON.stringify({department_name : dept_name, acronym : dept_acr, dhead: depthead}),
              dataType : "json",
              contentType : "application/json; charset=utf-8",
              success : function(data){
                if (data == 1) {
                  get_dept();
                  $('#addForm').trigger("reset");
                  stoast('Data has been Saved  !', 'success');
                }else{
                  switalert('error', "Can't Save Record.");
                }
              }
            });
          }
        });
        // delete data---------------------------------------------
        $(document).on("click","#delete", function(e){
          Swal.fire({
            title: 'Are you sure?',
            text: "All data under this department will be delate,You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.isConfirmed) {
              var department_id = $(this).data("id");
              $.ajax({
                url : "{{ url_for('departments.dept_destroy')}}",
                type : "POST",
                data : JSON.stringify({id : department_id}),
                dataType : "json",
                contentType : "application/json; charset=utf-8",
                success : function(data){
                  if (data == 1){
                    get_dept();
                    Swal.fire(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                      )
                  }else{
                    switalert('error', "Can't Delete Record.");
                  }
                }
              });
            }
          })
        });
        // update program---------------------------------------------
        $(document).on("click","#edit_prog", function(e){
          $('#update_progra').modal('toggle');
          var id = $(this).data("id");
          var name = $(this).data("program");
          $('#edit-id2').val(id);
          $('#edit_program').val(name);
        });
        $(document).on("click", "#edit_prg-submit", function(e){
          e.preventDefault();
          var id =  $('#edit-id2').val();
          var name = $('#edit_program').val();
          if (name == "") {
            switalert('warning', 'All fields are required !');
          }else {
            $.ajax({
              url : "{{ url_for('departments.dept_update_progs')}}",
              type : "POST",
              data : JSON.stringify({id : id, prog : name}),
              dataType : "json",
              contentType : "application/json; charset=utf-8",
              success : function(data){
                if (data == 1) {
                  $('#update_progra').modal('hide');
                  get_dept();
                  stoast('Data has been Updated  !', 'info');
                }else{
                  switalert('error', "Can't Save Record.");
                }
              }
            });
          }
        });
        // update data---------------------------------------------
        $(document).on("click","#edit", function(e){
          $('#modal-sm').modal('toggle');
          var id = $(this).data("id");
          var name = $(this).data("deptname");
          var acro = $(this).data("acrn");
          var deptheds = $(this).data("head");
          $('#edit-id').val(id);
          $('#edit_dept_name').val(name);
          $('#edit_dept_acr').val(acro);
          $('#edit_depthead').val(deptheds);
        });
        $(document).on("click", "#edit-submit", function(e){
          e.preventDefault();
          var id =  $('#edit-id').val();
          var name = $('#edit_dept_name').val();
          var acro = $('#edit_dept_acr').val();
          var heads = $('#edit_depthead').val();
          if (name == "" || acro == "" || heads == "") {
            switalert('warning', 'All fields are required !');
          }else {
            $.ajax({
              url : "{{ url_for('departments.dept_update')}}",
              type : "POST",
              data : JSON.stringify({id : id, department_name : name, acronym : acro, dhead: heads}),
              dataType : "json",
              contentType : "application/json; charset=utf-8",
              success : function(data){
                if (data == 1) {
                  $('#modal-sm').modal('hide');
                  get_dept();
                  stoast('Data has been Updated  !', 'info');
                }else{
                  switalert('error', "Can't Save Record.");
                }
              }
            });
          }
        });
        function editaccess(elem){
          var x = elem.id;
          $.ajax({
            url: "courseList/"+ x,
            type:"POST",
            data: {"id": x},
            success: function(data){       
              $('#editAccessModal').modal('toggle'); 
              $('#ajax_payslip').empty().append(data);
            }    
          });
        }
        $(document).on("click", "#updatecors", function(e){
          e.preventDefault();
          var x = $("#type").val();
          var insert = [];
          $('.get_value').each(function(){
            if($(this).is(":checked")){
              insert.push($(this).val());
            }
          });
          insert = insert.toString();
          var insert_string = insert;
          $.ajax({
            url : "{{ url_for('departments.corse_update')}}",
            type : "POST",
            data : JSON.stringify({id : x, modules : insert_string}),
            dataType : "json",
            contentType : "application/json; charset=utf-8",
            success : function(data){
              if (data == 1) {
                $('#editAccessModal').modal('hide');
                stoast('Data has been Saved  !', 'success');
                load_role();
              }else{
                switalert('error', "Can't Save Record.");
              }
            }
          });
        });
      </script>
      {% endblock %}